:root {
  --color-yellow: #e9ff42;
  --color-green: #4ade80;
  --color-orange: #fb923c;
  --color-purple: #a855f7;
  --color-blue: #3b82f6;
}

/* element itself */
.element {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(8px);
  border-radius: 50%;
  transition: transform 0.3s ease;
  --depth: 0;
  z-index: var(--depth);
  --element-gradient: radial-gradient(
    circle,
    rgba(156, 163, 175, 0.3) 0%,
    transparent 100%
  );
  --stroke-width: 15px;
}
.element::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 75%;
  height: 75%;
  transform: translate(-50%, -50%);
  background: var(--element-gradient);
  filter: blur(8px);
  z-index: 0;
  pointer-events: none;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.element.collection {
  border-radius: 0;
}

.element .element-svg {
  position: absolute;
  width: 130%;
  height: 130%;
  stroke: rgba(var(--color-gray-90), 0.8);
  stroke-width: 15px;
  box-sizing: border-box;
}
.element .element-svg path {
  fill: none;
  stroke: var(--color-light-gray);
  stroke-width: var(--stroke-width);
  transition: stroke 0.3s ease;
}

.element-text,
.element-input {
  z-index: 2;
  position: relative;
  padding: 2px 5px;
  box-sizing: border-box;
}
.element-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  user-select: none;
}
.element-input {
  background: rgba(0, 0, 0, 0.4);
  border: 1px solid #444;
  border-radius: 4px;
  outline: none;
  color: #eee;
  font: inherit;
  text-align: center;
  width: calc(100% - 10px);
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
  display: none;
}

/* element states */
.element:hover {
  transform: translateY(-4px) scale(1.03);
}
.element.selected .element-svg path {
  stroke: var(--color-yellow);
}
.element.active .element-svg path {
  stroke: var(--color-blue);
}
