:root {
  --color-primary-bg: 198, 71%, 3%;
  --color-primary-fg: 195, 100%, 75%;
  --color-danger: 0, 100%, 33%;
  --color-active: 87, 100%, 64%;
  --topbar-row-height: 40px;

  --color-white: #ffffff;
  --color-yellow: #e9ff42;
  --color-green: #4ade80;
  --color-orange: #fb923c;
  --color-purple: #a855f7;
  --color-blue: #3b82f6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Belanosima", sans-serif; */
  color: hsl(var(--color-primary-fg));
}

html {
  background-color: hsl(var(--color-primary-bg));
  width: 100vw;
  height: 100vh;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#topBar {
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.topbarButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  height: var(--topbar-row-height);
  padding: 5px 5px 5px 30px;
  gap: 32px;
  border-radius: calc(var(--topbar-row-height) / 2);
  border: 1px solid hsl(var(--color-primary-fg));
  transition: all 0.3s ease;
}

.topbarButtons:hover {
  background-color: hsla(var(--color-primary-fg), 0.05);
  border-color: hsl(var(--color-selected));
}

.first.topbarButtons {
  border-radius: 0 calc(var(--topbar-row-height) / 2)
    calc(var(--topbar-row-height) / 2) 0;
}

.last.topbarButtons {
  border-radius: calc(var(--topbar-row-height) / 2) 0 0
    calc(var(--topbar-row-height) / 2);
}

.buttonSet {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  height: 100%;
  gap: 8px;
}

.topbarBtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: calc(var(--topbar-row-height) * 3 / 4);
  height: calc(var(--topbar-row-height) * 3 / 4);
  background-color: hsla(var(--color-primary-fg), 0.2);
  border-radius: 50%;
  border: 1px solid hsl(var(--color-primary-fg));
  cursor: pointer;
  transition: all 0.3s ease;
}

.topbarBtn:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 12px hsla(var(--color-primary-fg), 0.4);
  background-color: hsla(var(--color-primary-fg), 0.3);
}

.danger.topbarBtn {
  background-color: hsla(var(--color-danger), 0.2);
  border: 1px solid hsl(var(--color-danger));
}

.danger.topbarBtn:hover {
  box-shadow: 0 4px 12px hsla(var(--color-danger), 0.4);
  background-color: hsla(var(--color-danger), 0.3);
}

.active.topbarBtn {
  background-color: hsla(var(--color-active), 0.2);
  border: 1px solid hsl(var(--color-active));
}
.active.topbarBtn:hover {
  box-shadow: 0 4px 12px hsla(var(--color-active), 0.4);
  background-color: hsla(var(--color-active), 0.3);
}

.topbarBtn svg {
  width: 60%;
  height: 60%;
  transition: transform 0.3s ease;
}

.topbarBtn:hover svg {
  transform: scale(1.1);
}

.topbarBtn svg path {
  stroke: hsl(var(--color-primary-fg));
}

.danger.topbarBtn svg path {
  stroke: hsl(var(--color-danger));
}

.active.topbarBtn svg path {
  stroke: hsl(var(--color-active));
}

.hidden {
  display: none;
}

#canvasContainer {
  width: 100%;
  height: calc(100% - var(--topbar-row-height));
  position: relative;
  overflow: hidden;
  display: flex;
}

#canvas {
  flex: 5;
  border: 1px solid hsl(var(--color-primary-fg));
  position: relative;
  transition: flex 3s ease, flex-basis 0.3s ease;
}

#status {
  position: absolute;
  bottom: 15px;
  left: 15px;
  padding: 10px 15px;
  border-radius: 8px;
  font-size: 13px;
  color: var(--color-primary-fg);
  border: 1px solid hsl(var(--color-primary-fg));
}

#contextMenu {
  position: absolute;
  backdrop-filter: blur(12px);
  border-radius: 10px;
  padding: 8px;
  border: 1px solid hsla(var(--color-primary-fg), 0.2);
  min-width: 80px;
  z-index: 100;
  overflow: hidden;
}

.option {
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.5s ease;
}

.option:hover {
  color: var(--color-white);
  background-color: hsla(var(--color-primary-fg), 0.2);
}

.separator {
  height: 1px;
  margin: 8px 0;
}

.cursor-create #canvas {
  cursor: crosshair;
}
.cursor-remove #canvas {
  cursor: not-allowed;
}
.cursor-move #canvas {
  cursor: move;
}
.cursor-edit #canvas {
  cursor: text;
}
